<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.bazaConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\baza.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp2.Properties.Settings.baza_danychConnectionString"
            connectionString="Data Source=DESKTOP-6AR3PUB\SQL2017;Initial Catalog=baza_danych;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp2.Properties.Settings.baza_danychConnectionString1"
            connectionString="Data Source=baza-home-budget-pentagram.database.windows.net;Initial Catalog=baza_danych;User ID=kornfix1991;Password=WoJz48LBA&lt;;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
